.container {  
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
	grid-template-rows: 1fr 1fr 1fr 0.5fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "nombre desarrollo desarrollo desarrollo desarrollo"
	  "nombre desarrollo desarrollo desarrollo desarrollo"
	  "nada1 desarrollo desarrollo desarrollo desarrollo"
	  "azul git git git nada2";
  }
  
  .nombre {
	/* Parametros de diseño de la casilla */
	grid-area: nombre;
	background-color: #FDDE06;
	border-top: 10px solid #050103;
	border-left: 10px solid #050103;
	border-right: 5px solid #050103;
	border-bottom: 5px solid #050103;

	/* Parametros de diseño del texto*/
	color: #333333;
  }
  
  
  .desarrollo { 
	/* Parametros de diseño de la casilla */
	position: relative;
	background-color: #E70503;
	grid-area: desarrollo; 
	border-top: 10px solid #050103;
	border-right: 10px solid #050103;
	border-left: 5px solid #050103;
	border-bottom: 5px solid #050103;

	/* Parametros de diseño del texto*/
	color:white;
	
  }
  

  .git { 
	/* Parametros de diseño de la casilla */
	background-color: #EAEFE9;
	grid-area: git; 
	border-top: 5px solid #050103;
	border-right: 5px solid #050103;
	border-left: 5px solid #050103;
	border-bottom: 10px solid #050103;

	/* Parametros de diseño del texto*/
	text-align: center;


  }


  .azul {
	/* Parametros de diseño de la casilla */
	background-color: #0300AD;
	grid-area: azul;
	border-top: 5px solid #050103;
	border-right: 5px solid #050103;
	border-left: 10px solid #050103;
	border-bottom: 10px solid #050103;
  }

  .nada1 { 
	/* Parametros de diseño de la casilla */
	background-color: #EAEFE9;
	grid-area: nada1; 
	border-top: 5px solid #050103;
	border-right: 5px solid #050103;
	border-left: 10px solid #050103;
	border-bottom: 5px solid #050103;
}
  
  .nada2 { 
	/* Parametros de diseño de la casilla */
	background-color: #EAEFE9;
	grid-area: nada2;
	border-top: 5px solid #050103;
	border-right: 10px solid #050103;
	border-left: 5px solid #050103;
	border-bottom: 10px solid #050103;
  }
  
  
  html, body , .container {
	height: 100%;
	margin: 2px;
  }
  
  .foto-perfil {
	display: block; 
  	margin: auto; 
	border-radius: 50%;
	border: 3px solid #333333;;
	width: 100px; 
	height: 100px; 
  }